

:root{
    --red--: #ff4d4d;
    --dark-red--: #ff3838;

    --blue--: #00a8ff;
    --dark-blue--: #0097e6;

    --orange--: #fd9644;
    --dark-orange--: #fa8231;

    --yellow--: #fed330;
    --dark-yellow--: #f7b731;

    --green--: #26de81;
    --dark-green--: #20bf6b;

    --purple--: #a55eea ;
    --dark-purple--: #8854d0;

    --ocean--: #1d1d31;
    --dark-ocean--: #11101d;

    --night--: #353b48;
    --dark-night--: #2f3640;

    --grey--: #7f8fa6;
    --dark-grey--: #718093;

    --light--: #f5f6fa;
    --dark-light--: #dcdde1;
}


.header .social-links i {
    font-weight: 400;
    color: var(--light--);
    text-shadow:1px 1px 2px #000,
                -1px -1px 2px #000
    ;
 
    font-weight: 600;
    font-size: 20px;
    box-shadow: inset -1px -1px 3px #ddd,
                inset 1px 1px 3px #ddd
    ;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    border-radius: 9999px;
    transition: all 0.4s ease;
}


.home_content .right img {
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    object-fit: cover;
}


.about-section img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}


/* Sign in section */

.sign_in_container .left{
    /* background: url('../images/color-image.png'); */
    background: var(--dark-night--);
}


.sign_in_container .left .copy {
    color: white;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.right form {
    width: 328px;
}





@media screen and (min-width: 0px) and (max-width: 576px) {
    .home_content .right img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }


    
}


@media screen and (min-width: 576px) and (max-width: 768px) {
  
}


@media screen and (min-width: 768px) and (max-width: 992px) {
   
}


@media screen and (min-width: 992px) {
   
}



.leftsidebar{
    height: 80vh; 
    overflow-y: scroll;
}

.rightsidebar{
    height: 80vh;
}

.input{
    border: none !important;
 
}

.users:hover{
    transform: scale3d(1,1.1,1.1);
    transition: 300ms;
    background-color: var(--ocean--);
    color: white;
}

.imgavatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.icons{
    opacity: 0.6;
}
.logo_{
    height: 150px !important;
    object-fit: cover;
}



.chat{
    height: 65vh;
}

.imgchat{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btnicons{
    border: none;
    background: none;
}

